<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Movie Barcodes</title>

		  <link rel="stylesheet" href="res/css/style.css">

	</head>

	<body>

  <div class="container">
  </div>

  <script type="text/html" id="movieItem-tpl">
    <div id="<%= id %>">
      <img src="<%= poster %>" />
      <div class="title"><%= title %></div>
      <div class="actors">Actors: <%= actors %></div>
      <div class="country">Country: <%= country %></div>
      <div class="director">Director: <%= director %></div>
      <div class="genre">Genre: <%= genre %></div>
      <div class="language">Language: <%= language %></div>
      <div class="year">Year: <%= year %></div>
      <div class="runtime">Runtime: <%= runtime %></div>
    </div>
  </script>

  <script src="libs/jquery-2.1.4.js"></script>
  <script src="libs/underscore.js"></script>
  <script src="libs/mimic_2.3/source/mimic.js"></script>

  <script src="src/MovieBarcodes.js"></script>
  <script src="src/MainController.js"></script>
  <script src="src/MainModel.js"></script>
  <script src="src/BarcodesView.js"></script>
  <script src="src/MovieItem.js"></script>

  <script>
      MovieBarcodes.init();    
  </script>
</html>