<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Movie Barcodes</title>
            <link rel="stylesheet" href="libs/material-design-iconic-font/css/material-design-iconic-font.min.css">
            <link rel="stylesheet" href="libs/silviomoreto-bootstrap-select-a8ed49e/dist/css/bootstrap-select.css">
            <link rel="stylesheet" href="libs/bootstrap-3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" href="libs/jquery-ui-1.11.4.custom/jquery-ui.css">
		    <link rel="stylesheet" href="res/css/style.css">

	</head>

	<body>

        <div class="container">
            <img id="moviebarcodeLogo" src="res/images/moviebarcodeLogo.png">
            <h1>Moviebarcode</br>Analyzer</h1>
            <div class="row">
                <div id="filterInputFields" class="col-sm-6 col-md-5 col-lg-4">
                    <div id="selectedFilters">
                        
                    </div>
                    <div class="title">title: </div>
                    <input type="text" class="form-control" id="titleInput">

                    <div class="title">colors: </div>
                    <div id="colorSelector" class="clear">
                        <div class="colorSelectItem" id="colorSelectItem1"></div>
                        <div class="colorSelectItem" id="colorSelectItem2"></div>
                        <div class="colorSelectItem" id="colorSelectItem3"></div>
                        <div class="colorSelectItem" id="colorSelectItem4"></div>
                        <div class="colorSelectItem" id="colorSelectItem5"></div>
                        <div class="colorSelectItem" id="colorSelectItem6"></div>
                        <div class="colorSelectItem" id="colorSelectItem7"></div>
                        <div class="colorSelectItem" id="colorSelectItem8"></div>
                        <div class="colorSelectItem" id="colorSelectItem9"></div>
                        <div class="colorSelectItem" id="colorSelectItem10"></div>
                        <div class="colorSelectItem" id="colorSelectItem11"></div>
                        <div class="colorSelectItem" id="colorSelectItem12"></div>
                    </div>
                    <div class="title">director: </div>
                    <input type="text" class="form-control" id="directorInput">
                    <div class="title">genre: </div>
                    <select class="selectpicker" id="genreSelect">
                    </select>
                    <div class="title">year: </div>

                    <p id="sliderValue">1920 - 2016</p>
                    <div id="slider-range"></div>
                      
                    <div class="title">cast: </div>
                    <input type="text" class="form-control" id="actorInput">
                    
                </div>
                <div id="resultView" class="col-sm-6 col-md-7 col-lg-8">
                    <div id="toolbar">
                        <div class="title">sorted by: </div>
                        <select class="selectpicker" id="sortedBySelect">
                            <option>title</option>
                            <option>genre</option>
                            <option>year</option>
                            <option>director</option>
                            <option>country</option>
                        </select>
                        <button class="btn btn-default button ascending" id="sortDirectionToggle"><span class="zmdi zmdi-long-arrow-up zmdi-hc-lg"></span></button>
                        <button class="btn btn-default button layoutButton"><span class="zmdi zmdi-view-list zmdi-hc-2x"></span></button>
                        <button class="btn btn-default button layoutButton"><span class="zmdi zmdi-view-module zmdi-hc-2x"></span></button>
                    </div>
                    <div id="results"></div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="detailInformationModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="detailInformationTitle">Title</h4>
                    </div>
                    <div class="modal-body">
                        <img id="detailInformationImage" src="" />
                        <div class="title">dominant colors: </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>color</th>
                                    <th>hex color</th>
                                    <th>percentage</th>
                                    <th>color name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><div class="dominantColorItem" id="colorSelectItem12"></div></td>
                                    <td>#3f352d</td>
                                    <td>55%</td>
                                    <td>brown</td>
                                </tr>
                                <tr>
                                    <td><div class="dominantColorItem" id="colorSelectItem11"></div></td>
                                    <td>#201c1f</td>
                                    <td>29%</td>
                                    <td>black</td>
                                </tr>
                                <tr>
                                    <td><div class="dominantColorItem" id="colorSelectItem10"></div></td>
                                    <td>#867c62</td>
                                    <td>6%</td>
                                    <td>gray</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="title">movie details: </div>
                        <br class="clear"/>

                        <div class="detailDescription">year:</div>
                        <div id="detailInformationYear" class="detailInformation"></div>
                        <br class="clear" />

                        <div class="detailDescription">genre:</div>
                        <div id="detailInformationGenre" class="detailInformation"></div>
                        <br class="clear" />

                        <div class="detailDescription">director:</div>
                        <div id="detailInformationDirector" class="detailInformation"></div>
                        <br class="clear" />

                        <div class="detailDescription">country:</div>
                        <div id="detailInformationCountry" class="detailInformation"></div>
                        <br class="clear" />

                        <div class="detailDescription">language:</div>
                        <div id="detailInformationLanguage" class="detailInformation"></div>
                        <br class="clear" />

                        <div class="detailDescription">runtime:</div>
                        <div id="detailInformationRuntime" class="detailInformation"></div>
                        <br class="clear" />

                        <div class="detailDescription">cast:</div>
                        <div id="detailInformationActors" class="detailInformation"></div>
                        <br class="clear" />
                        
                        <div class="title">plot summary: </div>
                        <div id="detailInformationSummary"></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="loadingOverlay"></div>
    </body>

    <script type="text/html" id="resultItem-tpl">
        <div class="resultItem" id="<%= id %>">
            <div class="resultImgContainer">
                <img src="<%= poster %>" />
                <div class="resultColorItems">
                    <div class="resultColorItem" id="resultColorItem1" style="background-color:<%= firstColor %>;"></div>      
                    <div class="resultColorItem" id="resultColorItem2" style="background-color:<%= secondColor %>;"></div>
                    <div class="resultColorItem" id="resultColorItem3" style="background-color:<%= thirdColor %>;"></div>
                </div>
            </div>
            <div class="genreImages"></div><br class="clear"/>
            <div class="resultTitle"><%= title %></div> <div class="resultYear"> (<%= year %>)</div>
            <br class="clear" />
        </div>
    </script>

    <script type="text/html" id="filterItem-tpl"> 
        <div class="filter <%= filterType %>Filter" id="<%= id %>">
            <button class="btn btn-default button closeButton">
                <span class="zmdi zmdi-close zmdi-hc-lg"></span>
            </button> <span class="filterType"><%= filterType %></span>: <span class="filterName"><%= filterName %></span>
        </div>
    </script>

    <script src="libs/jquery-2.1.4.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="libs/bootstrap-3.3.4/js/bootstrap.js"></script>
    <script src="libs/silviomoreto-bootstrap-select-a8ed49e/dist/js/bootstrap-select.js"></script>
    <script src="libs/mimic_2.3/source/mimic.js"></script>
    <script src="libs/spin.js"></script>

    <script src="src/MovieBarcodes.js"></script>
    <script src="src/MainController.js"></script>
    <script src="src/MainModel.js"></script>
    <script src="src/FilterView.js"></script>
    <script src="src/ResultsView.js"></script>
    <script src="src/ResultItem.js"></script>
    <script src="src/FilterItem.js"></script>

    <script>
        MovieBarcodes.init();    
    </script>
</html>